@model List<Personal>
@{
    ViewData["Title"] = "Home Page";
}


<table>
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Surname
        </th>
    </tr>
    </thead>
    
    <tbody>
    
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.id
                </td>
                <td>
                    @item.name
                </td>
                <td>
                    @item.surname
                </td>
            </tr>
            
        }
    
    </tbody>
</table>


